/*RESET*/
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, sans-serif;
  height: 100svh;
  background-color: #30343f;
  padding-left: 120px;
  padding-right: 120px;
}

.container {
  background-color: #1e2749;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 100%;
}

.hashtag-images {
  padding: 20px;
  margin-bottom: 20px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  gap: 20px;
}

.my-data {
  background-color: #273469;
  border-radius: 5px;
  padding: 70px;
  width: 70%;
}

h1,
.bx-user-circle {
  color: #fb8500;
}

.my-data p {
  color: white;
  margin-top: 20px;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
fieldset {
  display: flex;
  flex-direction: column;
  border: 1px solid #555;
  border-radius: 5px;
  padding: 10px 5px;
  margin-bottom: 10px;
}
legend {
  color: #fb8500;
}
.form-group {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
  flex-basis: 100px;
  color: white;
}
.form-group input {
  background-color: #444444;
  height: 20px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #555;
  padding: 10px;
  font-size: 1rem;
  color: white;
  margin-bottom: 5px;
}
form button {
  background-color: #4caf50;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 1em;
  margin-top: 5px;
  cursor: pointer;
}

.resume {
  background-color: #273469;
  border-radius: 5px;
  padding: 30px 15px;
  max-width: 30%;
  display: block;
}

.my-data,
.resume {
  flex: 1;
}

.resume h2 {
  color: #fb8500;
  margin-bottom: 20px;
}
.resume p {
  color: white;
  margin-bottom: 15px;
}

.discount-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #555;
  padding-top: 8px;
  cursor: pointer;
}

.discount-header span,
.discount-header i {
  color: #fb8500;
}

.discount {
  display: flex;
  flex-direction: column;
}

.discount input {
  background-color: #444444;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #555;
  padding: 10px;
  font-size: 1rem;
  color: white;
  margin-top: 10px;
}
.discount button {
  background-color: #fb8500;
  margin-top: 10px;
  color: white;
  width: 5.5em;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}

.discount-span {
  margin-top: 20px;
  color: #347a36;
  display: none;
}

.wrong-discount {
  color: red;
  margin-top: 20px;
  display: none;
}

.total-price {
  margin-top: 15px;
}

.credit-cards-images {
  display: flex;
  justify-content: center;
  color: white;
  margin-bottom: 10px;
  gap: 10px;
}
.credit-cards-images i {
  font-size: 20px;
}
.garantia {
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}
h3 {
  color: #fb8500;
  font-size: 1.5rem;
  padding-top: 15px;
  padding-bottom: 30px;
}
.garantia span {
  color: #4caf50;
  font-weight: bold;
  padding: 20px;
}
.garantia img {
  border-radius: 10%;
  width: 100%;
}

footer {
  margin-top: 20px;
  margin-bottom: 30px;
}
footer a {
  text-decoration: none;
  color: #fb8500;
}
footer p {
  color: #aaaaaa;
}

@media (max-width: 876px) {
  .resume {
    max-width: 100%;
  }
}
